@mixin font($size, $weight, $height, $color){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin mobile-only {
    @media screen and (max-width: 536px){
        @content;
    }
}